.icon {
    min-width: 20px;
    min-height: 20px;
    display: block;
    background-size: 100%;
    background-position: center;
}
.icon span {
    display: none;
}
.icon.icon-link span {
    display: block;
}
.icon-user {
    background-image: url('../images/icons/bx_bx-user.svg');
}
.icon-shop-bag {
    background-image: url('../images/icons/bx_bx-shopping-bag.svg');
}
.icon-heart {
    background-image: url('../images/icons/bx_bx-heart.svg');
}
.icon-support {
    background-image: url('../images/icons/bx_bx-support.svg');
}
.icon-search {
    background-image: url('../images/icons/bx_bx-search.svg');
}
.icon-flag {
    background-image: url('../images/icons/icon-us-flag.png');
    width: 25px;
    height: 25px;
}
.icon-crown::before {
    background-image: url('../images/icons/bx_bx-crown.png');
}
.icon-star::before {
    background-image: url('../images/icons/bx_bx-star.png');
}
.icon-truck::before {
    background-image: url('../images/icons/bx_bxl-delivery-truck.png');
}
.icon-pin::before {
    background-image: url('../images/icons/bx_bx-map-pin.png');
}
.icon-tag::before {
    background-image: url('../images/icons/bx_bx-purchase-tag.png');
}
.icon-facebook {
    background-image: url('../images/icons/bx_bxl-facebook.svg');
}
.icon-instagram {
    background-image: url('../images/icons/bx_bxl-instagram.svg');
}
.icon-twitter {
    background-image: url('../images/icons/bx_bxl-twitter.svg');
}
.icon-youtube {
    background-image: url('../images/icons/bx_bxl-youtube.svg');
}
.icon-pinterest {
    background-image: url('../images/icons/bx_bxl-pinterest-alt.svg');
}
.icon-tiktok {
    background-image: url('../images/icons/bx_bxl-tiktok.svg');
}
.icon-visa {
    background-image: url('../images/icons/payment-visa.png');
}
.icon-mastercard {
    background-image: url('../images/icons/payment-mastercard.png');
}
.icon-maestro {
    background-image: url('../images/icons/payment-maestro.png');
}
.icon-amex {
    background-image: url('../images/icons/payment-amex.png');
}
.icon-paypal {
    background-image: url('../images/icons/payment-paypal.png');
}
