.section-recent-bought {
    padding: 50px 40px;

}
.recent-item .item-text p {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    white-space: pre-wrap;
    text-align: left;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.item-price {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}
.item-price-normal {
    padding-right: 10px;

}
.item-price-sale {
    color: #C1272D;
    padding-right: 10px;

}
.item-price-original {
    text-decoration: line-through;
    padding-right: 10px;
}