.section-navigation {
    height: 70px;
}
.section-navigation .nav-link {
    color: var(--bs-black);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 9px 15px;
    text-transform: uppercase;
}
.section-navigation .nav-link:hover {
    color: var(--bs-black);
} 
.section-navigation .nav-link.active {
    font-weight: 600;
}
.nav-icon li {
    padding: 9px 10px;
}
#currency-menu {
    padding: 0;
}
.currency {
    position: relative;
    border: 1px solid #F2F2F2;
    border-radius: 35px;
    width: 106px;
}
.currency .icon {
    float: left;
    margin-top: 6px;
    margin-right: 5px;
}
.currency-symbol {
    font-size: 14px;
}
.currency .btn {
    width: 110px;
    line-height: 35px;
    padding: 0;
    text-align: left;
    border: 0;
}

.dropdown-toggle::after {
    content: "";
    border: 0;
    background-image: url(../images/icons/ant-design_down-outlined.png);
    background-size: 100%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 14px;
    right: 11px;
}
