.section-newsletter {
    background-color: #000;
    color: #fff;
    padding: 16px;
}

.section-newsletter h3 {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}

.section-newsletter .form-control {
    border: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
}

.section-newsletter input[type="text"] {
    background-color: #F2F2F2;
}

.section-newsletter input[type="text"]:focus {
    outline: 0;
}

.section-newsletter .btn {
    border: none;
    border-radius: 0;
    background-color: #fff;
}
.section-newsletter .btn:hover {
    color: #000;
}